.bg-1{
    background-color: #1E0342;
}

#github{
    height: 42px;
    transition: 0.5s ease-in-out;
}

#navbar{
    display: flex;
    justify-content: center;
    gap: 1px;
}

#menu-navbar{
    display: block;
    transition: 0.5s ease-in-out;
}

#nav-link{
    padding: 5px 15px 5px 15px ;
    font-size: 16px;
    color: #9AC8CD;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: transform 0.25s ease-out;
}

#nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
}

#nav-link:hover::after{
    transform: scaleX(1);
}

.fa-bars{
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

#nav-link:hover{
    color: white;
}
.fa-bars:hover{
    transform: rotate(30deg);
}
#github:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    #navbar{
      flex-direction: column;
    }
    #menu-navbar{
        display: none;
    }
    #nav-link{
        padding: 5px;
    }
    #git-logo{
        margin: 3px 0px;
    }
    #home-box{
        padding: 10% 5%;
    }
  }

  /* End Navbar */
  /* Start Home */
#home-box{
    padding: 7% 25%;
}

#text{
    color: #ECEFCA;
}

#type-box{
    border-radius: 10px;
    padding: 10px 15px;
    background-color:  #31046b;
}

.typing{
    color: white;
    border-right: 5px solid black;
    animation: 
        blinking 1s steps(1, end) infinite,
        typing 3s steps(25, end);
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
}

@keyframes blinking{
    0% { border-color: transparent; }
    50% { border-color: white; }
    100% { border-color: transparent; }
}

@keyframes typing{
    0% { width: 0; }
   
    70% { width: 100%; }
    100% { width: 100%; }
}

#profile-picture{
    width: 85%;   
    border-radius: 20%;
    border: 1px solid black;
    box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.507);
    transition: transform 0.2s ease-out;
}
.profile #profile-picture:hover{
    transform: rotate(-20deg);
}

@media only screen and (max-width: 600px) {
    #home-box{
        padding: 10% 5%;
    }
    #profile-picture{
        width: 50%;
    }
    #profile-box{
        margin-top: 50px;
    }
    .profile{
        justify-content: center;
        display: flex;
    }
  }

